@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600&display=swap');
*{
    font-family: 'Source Sans Pro', sans-serif;
}
/* header part star */
header,.dropdown-menu{
    background-color: #37517E;
}
header{
    background-image: url(../images/border.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    background-size: 400px;
    background-position-y: bottom;
}
.navbar-brand img{
    width: 150px;
}
.nav-item a,.btn{
    color: #fff !important;
}
.nav-item a:hover{
    color: #47B2E4 !important;
    
}

.header-text{
    padding: 100px 0;
}

.navbar-toggler{
    color: black !important;
    text-align: center;
    
}
header h1{
    line-height: 1.7;
    font-weight: 600;
    font-size: 45px;
}
header p{
    padding: 20px 0;
    font-size: 18px;
    line-height: 1.9;
    font-weight: 300;
}
header i{
    font-size: 26px;
    margin-right: 10px;
    background: #418ebe38;
    border-radius: 50px;
    padding: 10px 15px 12px;
    color: #47b2e4;
}
.blue{
    background-color: #47B2E4;
    margin-right: 20px;
    padding: 10px 15px;
    font-size: 15px;
    text-transform: uppercase;
}
.play{
    
    display: inline-flex;
    align-items: center;
    font-size: 15px;
    background: transparent ! important;
}
/* header part end */

/* partner part */
.partner{
    padding: 80px 0 50px;
    align-items: center;
    text-align: center;
}
.partner img{
    width: 85%;
    align-items: center;
    padding: 10px 0;
    overflow: hidden;
}

.partner-center{
    align-items: center;
    justify-content: center;
    text-align: center;

}
/* partner part end */

/* global part */

.global{
    padding: 30px 0 50px;
}
.global i{
    text-align: center;
    font-size: 30px;
    color: #50B6E6;
}
.global h4{
    margin: 24px 0 30px;
}
.global h2{
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 25px;
}
.global p{
    font-size: 15px;
    line-height: 1.7;
}
.global .btn{
    color: #50B6E6 !important;
    font-size: medium;
    display: inline-flex;
    padding: 0;
}
.global .btn i{
    text-align: center;
    font-size: 25px;
    color: #50B6E6;
    padding-left: 14px;
}
.global .btn i:hover{
    margin-right: 5px;
}

/* global part end */

/* trust part */

.trust-part{
    background-color: #EAF5FC !important;
    padding: 100px 0 ! important;
    background-image: url(../images/border.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    /* background-size: 400px; */
    background-position-y: top;
}


.trust-part-contant h1{
    font-size: 27px;
    line-height: 1.7;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 21px;
}
.trust-part-contant p{
    font-size: 12px;
    font-weight: 400;
    line-height: 1.7;
    margin-bottom: 20px;
}

.trust-part-contant span{
    color: #47B2E4;
    font-size: 35px;
}
/* trust part end */

/* questsion part  */
.questsion{
    padding: 100px 0;
}
.questsion h2{
    font-size: 25px;
    line-height: 37px;
}
.s-pan{
    color: #47B2E4;
    font-size: 35px;
}
.qus-ans{
    margin-top: 10px;
}
.qus-subject {
    cursor: pointer;
}
.qus-subject span{
    background: black;
    color: #fff;
    padding: 5px 6px;
    font-size: 15px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 4px;
    display: inline-flex;
}
.qus-subject li{
    font-size: 12px;
    font-weight: 900;
    margin: 10px 0;
}
.qus-subject ul li i {
    transition: all 0.5s ease;
    display: inline-flex;
}

/* questsion part end  */

/* reviews part  */

.reviews{
    background-color: #EAF5FC;
    padding: 100px 0;
}

.reviews-deatils h2{
    font-size: 27px;
    line-height: 1.7;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 25px;
    color: #111;
}
.reviews-deatils p{
    font-size: 16px;
    line-height: 1.7;
}
.download{
    border-right: 1px solid #c5c5c5;
    margin-right: 12px;
    padding-right: 12px;
}
.reviews-deatils h6{
    font-size: 17px;
    font-weight: 600;
    color: grey;
    padding-top: 20px;
    margin: 0;
}
.reviews-deatils h3{
    color: #111;
    font-size: 42px;
    font-weight: 700;
}
.reviews-deatils button{
    margin: auto;
    margin-top: 30px;
    color: #47b2e4 !important;
}
.reviews-deatils button i{
    margin-right: 8px;
    font-size: 16px;
}



/* reviews part end */




/* prices plan  */
.prices{
    padding: 100px 0;
}
.price-tittle {}
.price-tittle h2{
    font-size: 27px;
    color: #111;
    font-weight: 500;
    margin-bottom: 20px;
}
.price-tittle p{
    max-width: 80%;
    margin: auto;
    font-size: 15px;
}
.price-plan h5{
    color: #111;
    font-weight: 600;
    font-size: 20px;
    margin-left: 30px;
    padding-top: 30px;
}
.price-plan h4{
    margin-left: 30px;
    font-size: 30px;
    padding: 13px 0;
    letter-spacing: -1px;
}
.price-tittle {
    padding-bottom: 40px;
}
.price-plan{
    box-shadow: 2px 2px 6px #888888 !important;
    transition: all 0.5s ease-in-out;
}
.price-plan:hover{
    border-top: 2px solid #47b2e4 ;
    padding-bottom: 15px;
    padding-top: 15px;
}

.price-plan span{
    font-size: 47px;
    opacity: 0.9;
    font-weight: 400;
}
.price-plan h6{
    margin-left: 30px;
    color: #47b2e4;
    padding-bottom: 40px;
}
.price-plan ul{
    align-items: center;
}
.price-plan ul li{
    border-bottom: 1px solid #e0dbdb;
    padding-left: 41px;
    padding-bottom: 7px;
    font-size: 14px;
    color: #3c3a3a;
    align-items: center;
    padding-top: 7px;
}
.price-plan ul li i{
    font-size: 12px;
    color: #62ec4c;
    margin-right: 15px;
}
.order-btn{
    color: #47b2e4 !important;
    border-color: #47b2e4 !important;
    border-radius: 30px;
    margin-left: 40px;
    padding: 9px 18px;
    font-size: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    transition: all 0.5s ease-in-out;
}
.order-btn:hover{
    background-color: none ;
    border-color: #47b2e4;
    color: #37517E !important;
    
}



/* prices plan end */




/* subcribe part  */

.subscribe{
    padding: 100px 0;
    background: #EAF5FC;
}
.hadding{
    font-size: 15px;
    align-items: center;
    color: gray;
    font-weight: 400;
    display: inline-block;
}
.email{
    padding: 0;
    width: 100%;
}
.privacy-policy{
    background: #ded3d8;
    font-size: 16px;
    align-items: center;
    display: inline-block;
}
.subscribe h5{
    text-transform: capitalize;
    font-weight: 700;
    color: #111;
    font-size: 19px;
    margin-bottom: 10px;
}
.subscribe .btn{
    background: #47b2e4;
    padding: 2px 55px;
    font-size: 23px;
    display: block;
    margin-top: 31px;
}
.responsive-email{}
.responsive-email h4{
    font-size: 30px;
    font-weight: 400;

}
.responsive-email p{
    font-size: 12px;
    color: gray;
    text-transform: lowercase;
    font-weight: 500;
    line-height: 24px;
}
/* subcribe part end  */

/* footer part  */

footer{
    padding: 100px 0;
    background: #37517E;
    padding-bottom: 0;
}
.footer-top{
    color: #fff;
    border-bottom: 1px solid #556B91;
    padding-bottom: 45px;
}
.company-team{}
.footer-top ul{
    font-size: 16px;
}
.footer-top h6{
    margin-bottom: 37px;
}
.footer-top ul li{
    margin-bottom: 20px;
}
.footer-top ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
}
.follow{}
.follow h6{
    margin-bottom: 26px;
}
.follow ul{
    margin: 0;
}
.follow ul li{
    margin-right: 1px;
}
.follow ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}
.follow ul li a .fa-facebook-f{
    padding: 8px 14px;
    background: #3B5998;
}
.follow ul li a .fa-twitter{
    padding: 8px 10px;
    background: #3B8ACA;
}
.follow ul li a .fa-linkedin-in{
    padding: 8px 12px;
    background: #0077B5;
}
.follow ul li a .fa-youtube{
    padding: 8px 12px;
    background: #CC181E;
}
.follow ul li a .fa-instagram{
    padding: 8px 14px;
    background: #464646;
}
.footer-botom{
    /* align-items: center; */
    padding: 10px 0;
}
.footer-botom p{
    color: #fff;
    font-size: 11px;
    margin: 0;
}
.footer-botom img{
    max-width: 80px;
    margin-left: 64px;
}


/* footer part end  */